.calendar {
    max-width: 70%;
    max-height: 500px;
    display: flex;
    flex-flow: column nowrap;
    margin: 1em auto;
}

button {
    background-color: white;
    border: none;
    padding: 1em 0;
}

button:hover {
    cursor: pointer;
}

/* SOURCE: https://www.w3schools.com/css/css_grid.asp */
.calendar-main {
    display: grid;
    grid-template-areas: "back title next";
    grid-template-columns: 12% 1fr 12%;
    margin-bottom: 1em;
}

.month-year {
    text-align: center;
    grid-area: title;
    font-weight: bold;
    color: black;
}

.calendar-weeks {
    text-align: center;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    padding-bottom: 5px;
}

.calendar-days {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(7, 1fr);
    border: 1px solid black;
}

.calendar-day {
    border: 1px solid black;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 70px; 
    text-align: left;
}

.navbar{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: right;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

.event-popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
}